<% layout('./layouts/boilerplate.ejs') %>
<section class="w-75 mx-auto">
    <h1 class="text-center mb-3">My Plans</h1>
    <div class="container">
        <div class="row">
            <% for(let plan of plans){ %>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title fw-bold mb-3"><%= plan.title %></h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column mb-2 ms-2">
                                <p class="card-subtitle text-muted"><%= plan.level %></p>
                                <p class="card-subtitle mt-1 mb-2 text-muted"><%= plan.duration %> weeks</p>
                                <p class="card-subtitle text-muted"><%= plan.days %> days/week</p>
                            </div>
                            <a href="/trainingplans/<%= plan._id %>" class="btn btn-info me-2">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>