<% layout('./layouts/boilerplate.ejs') %>
<div class="card w-50 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center mb-3"><%= plan.title %></h5>
        <div class="d-flex mb-2 justify-content-evenly border-bottom pb-2">
            <h6 class="card-subtitle text-muted">$ <%= plan.price %></h6>
            <h6 class="card-subtitle text-muted"><%= plan.level %></h6>
            <h6 class="card-subtitle text-muted"><%= plan.duration %> weeks</h6>
            <h6 class="card-subtitle text-muted"><%= plan.days %>days/week</h6>
        </div>
        <!-- <div class="card-header text-center text-muted">
            &darr;&darr;&darr;
        </div> -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Exercise</th>
                    <th scope="col">Sets</th>
                    <th scope="col">Reps</th>
                </tr>
            </thead>
            <tbody>
            <% for(let item of plan.exercises){ %>
                <tr>
                    <th scope="row"><%= plan.exercises.indexOf(item)+1 %></th>
                    <td><%= item.exercise %></td>
                    <td><%= item.sets %></td>
                    <td><%= item.reps %></td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <div class="mt-2 d-flex justify-content-around">
            <a href="/trainingplans" class="card-link btn btn-primary">Go Back</a>
            <a href="/trainingplans/<%= plan._id %>/edit" class="card-link btn btn-info mx-2">Edit Plan</a>
            <form action="/trainingplans/<%= plan._id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </div>
    </div>
</div>
