<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <!-- <p><%= plan %></p> -->
    <h1><%= plan.title %></h1>
    <h2><%= plan.price %></h2>
    <h3><%= plan.level %></h3>
    <h3><%= plan.duration %></h3>
    <ul>
        <% for(let item of plan.exercises){ %>
        <li>
            <% for(const [keyOut, valueOut] of Object.entries(item)){ %>
                <% for(const [keyIn, valueIn] of Object.entries(valueOut)){ %>
                    <%= `Exercise ${keyOut}:  ${keyIn} - ${valueIn} reps` %>
                <% } %>
            <% } %>
        </li>
        <% } %>
    </ul>
    <footer>
        <a href="/trainingplans">All Plans</a>
        <a href="/trainingplans/<%= plan._id %>/edit">Edit Plan</a>
    </footer>

</body>
</html>